
<div>
    <br />

    <label>Grid Landing Page</label>
    <div class="row">
        <div class="col-lg-6">
            @{
                Html.RenderAction("GridBind");
            }
        </div>
        <div class="col-lg-6">
            @{
                Html.RenderAction("GridBind2");
            }
        </div>
    </div>
</div>
